body{
    margin:0;
    display:flex;
    justify-content:center;
    background: white;
}
.main-container{

    width:100%;

    max-width:950px;

    margin:0 auto;

    display:grid;

    position:relative;   /* 追加 */

    grid-template-rows:60px 1fr;

    grid-template-areas:
        "header"
        "content";

}

/*====================================
  キャンバス
====================================*/

canvas{



    width:90%;

    height:auto;

    aspect-ratio:1 / 1;

    margin:auto;

    border:1px solid black;
    position:static;
    z-index:auto;



}
#canvasArea{

    grid-area:canvas;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    z-index:6000;

}



#bottomArea{

    grid-area:bottom1;

    width:100%;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}
#pageContainer{

    width:100%;

    max-width:100%;

    min-width:0;   /* 重要 */

    overflow:hidden;

}

/*====================================
  メインコンテンツ
====================================*/
#header{

    height:60px;

    width:100%;

    box-sizing:border-box;

    background:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 20px;

    position:relative;

    z-index:2000;

}

/* メニュー */
#menu{

    position:absolute;

    top:60px;

    left:0;

    width:100%;

    height:0;

    overflow:hidden;

    background:white;

    transition:height .3s;

    z-index:7000;

}


#menu.show{

    height:300px;

}


/* メニュー内リンク */
#menu a{

    display:block;

    padding:20px;

}

/* ボタン */
#menuButton{
    position:absolute;
    top:5px;
    right:10px;

    width:50px;
    height:50px;

    font-size:30px;

    border:none;
    background:none;
    cursor:pointer;

    z-index:1001;
}

#helpModal{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    justify-content:center;
    align-items:center;

    z-index:9999;

}


.helpBox{

    position:relative;

    width:90%;

    height:90%;

    margin:3% auto;

    background:white;

    border-radius:10px;

    overflow:hidden;

    justify-content:center;
    align-items:center;

}
#manualModal,
#aboutModal{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    z-index:9999;
    overflow-y: auto; /* 縦スクロール可能 */

}

.manualBox,
.aboutBox{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);


    width: 80%;
    max-width: 600px;

    min-height:300px;


    background:white;

    padding:30px;

    border-radius:10px;

}

#manualClose,
#helpClose,
#aboutClose{

    position:absolute;

    right:15px;
    top:10px;


    font-size:30px;

    cursor:pointer;

}


.helpBox iframe{
    width:100%;
    height:100%;
    border:none;
}

#content{

    grid-area:content;

    display:grid;

    grid-template-columns:
        1fr 1fr;   /* 左右半分 */

    grid-template-rows:
        80px 1fr;  /* 右側の上下 */

    grid-template-areas:

        "canvas button"

        "canvas bottom1";

    background:white;


}

#bottomArea{

    grid-area:bottom1;

    width:100%;

    min-width:0;   /* 重要 */

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

}


#pageContainer{
    width:100%;
    height:100%;
}


.inputGroup{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

/* ==============================
   入力欄 横並び
============================== */
#toc3,
#sec2{


    flex-direction:column;

    justify-content:center;

    align-items:center;

}
#sec3{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:50px;

}


#analysisSection,
#resultSection{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;



}

#disableArea{
    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.4);

    z-index:5000;

}

canvas,
#resultSection{

    position:relative;

    z-index:6000;

}

#sec2,
#sec3{

    display:none;

}
#toc3{

    width:100%;

    max-width:100%;

    min-width:0;

    overflow-x:auto;

    box-sizing:border-box;

}
#sec2.show,
#sec3.show{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100%;

}

.disabled{

    opacity:0.3;

    pointer-events:none;

}


.pageButton{
    grid-area:button;

    width:100%;

    display:flex;

    justify-content:center;

    gap:10px;
    padding-top:20px;

}
#page1,
#page2,
#page3{

    width:120px;
    height:50px;

    background:white;

    border:2px solid black;


    font-size:20px;
    font-weight:bold;

    cursor:pointer;

}


/* 選択中 */
#page1.active,
#page2.active,
#page3.active{

    background:#555;

    color:white;

}


/* 階数・減衰定数の箱 */
.paramBox{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    width:300px;

}


.paramBox label{

    width:80px;

    text-align:right;

    font-weight:bold;

}


.paramBox input{

    width:100px;

    height:35px;

}



/*====================================
  パラメータ入力
====================================*/
.inputGroup{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:20px;

}
/* チェックボックス */
.inputGroup input[type="checkbox"]{
    margin-right:8px;
}

#lock{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* 読み込みボタン */
#loadCsv{
    grid-column:1 / -1;

    padding:10px;
    font-size:16px;
}

/*====================================
  階ごとの入力欄
====================================*/
.parameterHeader,
.parameterRow{

    display:grid;

    grid-template-columns:80px repeat(var(--floor),120px);

    gap:15px;

    align-items:center;

    justify-content:center;

}


.floorLabel{

    text-align:center;

    font-weight:bold;

}


.massInput,
.stiffnessInput{

    width:120px;

    height:35px;

    text-align:center;

}
#basicParameter{

    width:100%;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:10px;

}
#floorParameterSection{

    width:100%;

    overflow-x:auto;

}
#floorParameters{

    width:max-content;

}
/*====================================
  入力欄
====================================*/

#start,
#look{

    width:120px;
    height:45px;

    background:white;

    border:2px solid black;
    border-radius:5px;

    font-size:20px;
    font-weight:bold;

    cursor:pointer;

}

.loader {

    margin: auto;

    width: 50px;
    height: 50px;

    border: 6px solid #ddd;

    border-top: 6px solid #333;

    border-radius: 50%;

    animation: spin 1s linear infinite;

}

/* ==========================
   地震波選択
========================== */

#inputSeismicWave{

    width:220px;

    height:45px;

    padding:0 15px;

    font-size:18px;

    font-weight:bold;

    background:white;

    border:2px solid black;

    border-radius:5px;

    cursor:pointer;

    text-align:center;

}


/* 選択時 */
#inputSeismicWave:hover{

    background:#f0f0f0;

}


/* フォーカス時 */
#inputSeismicWave:focus{

    outline:none;

    background:#eeeeee;

}

/* ==========================
   入力エラーダイアログ
========================== */

#errorModal{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    z-index:9999;
}

.modalContent{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:350px;

    background:white;

    padding:30px;

    border-radius:10px;

    text-align:center;
}

/* 全画面を覆う */
#loading{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.4);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

/* 真ん中のボックス */
.loadingBox{

    width:400px;
    padding:35px;

    background:#d8d8d8;

    border-radius:10px;

    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

/* バーの外枠 */
.progress{

    width:100%;
    height:18px;

    background:#555;

    overflow:hidden;

    border-radius:3px;
}


/* 背景 */
#loading2{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;



    background:rgba(0,0,0,0.65);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

/* 真ん中 */
.loadingBox{
    background:white;
    text-align:center;
}

/* 回転する円 */
.spinner{

    width:80px;
    height:80px;

    border:10px solid #666;
    border-top:10px solid #919191;

    border-radius:50%;

    animation:spin 1s linear infinite;

    margin:auto;
}

/* 文字 */
.loadingBox p{

    margin-top:25px;

    color: #0b0b0b;

    font-size:28px;

    font-family:Arial, sans-serif;
}

@keyframes spin{

    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }

}

/* 解析終了 */
#complete{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(255,255,255,0.8);

    justify-content:center;
    align-items:center;

    z-index:10000;
}

.completeBox{

    width:380px;

    padding:40px;

    background:white;

    border-radius:12px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,0.25);
}

.check{

    width:90px;
    height:90px;

    margin:0 auto 25px;

    border-radius:50%;

    background:#4CAF50;

    color:white;

    font-size:60px;

    line-height:90px;

    font-weight:bold;
}

.completeBox h2{

    margin-bottom:35px;

    color:#333;

    font-size:28px;
}

#okButton{

    width:120px;
    height:45px;

    font-size:18px;

    border:none;

    border-radius:6px;

    background:#2196F3;

    color:white;

    cursor:pointer;
}

#okButton:hover{

    background:#1976D2;
}
#screenLock{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    z-index:5000;

}

/* ==========================
   スマホ表示
========================== */

@media (max-width:768px){

    body{
        display:block;
        width:95%;
        overflow-x:hidden;
    }


    .main-container{

        width:100%;

        padding:0;

        border:none;

        display:block;

    }


    /* ヘッダー */
    header{

        width:100%;

        height:60px;

    }





    /* メイン */
    #content{

        width:100%;

        margin:0;

        padding:10px;

        display:block;

    }


    /* canvas */
    canvas{

        width:100%;

        height:auto;

    }


    /* 入力欄 */
    #toc3 .inputGroup{

        display:flex;

        flex-direction:column;

        gap:10px;

    }


    .paramBox{

        width:100%;

    }


    input,
    select{

        width:100%;

        box-sizing:border-box;

    }


    /* ページ切替ボタン */
    .pageButton{

        width:100%;

        justify-content:center;

    }


}

