/* ====================================
   全体
==================================== */
html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body{
    font-family:"Noto Sans JP", sans-serif;
    margin:0;
    display:flex;
    justify-content:center;
    background:white;
}

.main-container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:grid;
    position:relative;
    grid-template-rows:60px 1fr;
    grid-template-areas:
        "header"
        "content";
}


/* ====================================
   ヘッダー
==================================== */

#header{
    height:100%;
    width:100%;
    box-sizing:border-box;
    background:white;
    display:flex;
    align-items:center;
    font-size: clamp(1px, 4vw, 16px);
    justify-content:space-between;
    padding:0 20px;
    position:relative;
    z-index:2000;
}

#menuButton{
    position:absolute;
    top:5px;
    right:2%;
    width:50px;
    height:50px;
    font-size: clamp(1px, 5vw, 24px);
    color:black;
    border:none;
    background:none;
    cursor:pointer;
    z-index:1001;
}


/* ====================================
   メニュー
==================================== */

#menu{
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    height:0;
    overflow:hidden;
    background:white;
    transition:height .3s;
    z-index:7000;
}

#menu.show{
    height:300px;
}

#menu a{
    display:block;
    padding:20px;
}

#manualButton,
#helpButton,
#aboutButton{
    cursor:pointer;
    display:inline-block;
    width:fit-content;
}


/* ====================================
   使い方・解説・サイト情報モーダル
==================================== */

#manualModal,
#helpModal,
#aboutModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:9999;
}

.manualBox,
.aboutBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    max-width:600px;
    min-height:300px;
    background:white;
    padding:30px;
    border-radius:10px;
}

.helpBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:90%;
    background:white;
    padding:10px;
    border-radius:10px;
}

#manualClose,
#helpClose,
#aboutClose{
    position:absolute;
    right:15px;
    top:10px;
    font-size:30px;
    cursor:pointer;
}

.helpBox iframe{
    width:100%;
    height:100%;
    border:none;
}


/* ====================================
   メインコンテンツ
==================================== */

#content{
    grid-area:content;
    display:grid;
    grid-template-columns:
        1fr 1fr;
    grid-template-rows:
        80px 1fr;
    grid-template-areas:
        "canvas button"
        "canvas bottom1";
    background:white;
}


/* ====================================
   キャンバス
==================================== */

#canvasArea{
    grid-area:canvas;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:6000;
}

canvas{
    width:90%;
    height:auto;
    aspect-ratio:1 / 1;
    margin:auto;
    border:1px solid black;
    position:relative;
    z-index:auto;
}


/* ====================================
   ページ切替ボタン
==================================== */

.pageButton{
    grid-area:button;
    width:70%;
    display:flex;
    justify-content:center;
    gap:10px;
    padding-top:20px;
    margin:0 auto;
    font-size: clamp(1px, 4vw, 20px); !important;
}

#parameterPageButton,
#analysisPageButton,
#resultPageButton{
    width:100%;
    height:50px;
    background:white;
    border:2px solid black;
    font-size: clamp(1px, 4vw, 20px); !important;
    font-weight:bold;
    color:black;
    cursor:pointer;
}

#resultPageButton:disabled{
    color:#c8c8c8;
    opacity:1;
    cursor:not-allowed;
    font-size: clamp(1px, 4vw, 20px); !important;
}

#parameterPageButton.active,
#analysisPageButton.active,
#resultPageButton.active{
    background:#555;
    color:white;
    font-size: clamp(1px, 4vw, 20px); !important;
}


/* ====================================
   下部エリア
==================================== */

#bottomArea{
    grid-area:bottom1;
    width:100%;
    height:100%;
    min-width:0;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#pageContainer{
    width:100%;
    height:100%;
    max-width:100%;
    min-width:0;
    overflow:hidden;
}


/* ====================================
   パラメーター入力
==================================== */

#parameterSection{
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#parameterSection h3,
#analysisSection h3,
#resultArea h3{
    width:100%;
    text-align:center;
    margin-top:15px;
}


/* ====================================
   階数・減衰定数
==================================== */

#basicParameter{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    width:100%;
}

.paramBox{
    display:grid;
    grid-template-columns:80px 80px;
    column-gap:15px;
    align-items:center;
    width:max-content;
    margin:0 auto;
}

.paramBox label{
    width:80px;
    text-align:center;
    font-weight:bold;
}

.paramBox input,
.paramBox select{
    width:80px;
    height:35px;
    box-sizing:border-box;
    font-weight:bold;
    font-size: 14px;
    text-align:center;
    color: black;
    border:2px solid black;
}


/* ====================================
   階ごとの入力欄
==================================== */

#floorParameterSection{
    width:100%;
    max-width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}

#floorParameters{
    display:grid;
    grid-template-columns:
        80px repeat(var(--floor),80px);
    column-gap:15px;
    row-gap:10px;
    width:max-content;

    /* 1Fの位置を階数・減衰定数の入力欄に合わせる */
    margin-left:calc(50% - 85px);

    text-align:center;
}

.parameterHeader,
.parameterRow{
    display:contents;
}

.parameterHeader{
    text-align:center;
    font-weight:bold;
}

.floorLabel{
    width:80px;
    text-align:center;
    font-weight:bold;
}


/* ====================================
   質量・剛性の入力欄
==================================== */

.massInput,
.stiffnessInput{
    width:80px;
    height:35px;
    box-sizing:border-box;
    text-align:center;
    font-weight:bold;
    font-size: 14px;
    color: black;
    border:2px solid black;
}


/* ====================================
   解析
==================================== */

#analysisSection{
    display:none;
    flex-direction:column;
    align-items:center;
    height:100%;
}

#analysisSection.show{
    display:flex;
}

/* ====================================
   地震波選択
==================================== */

#inputSeismicWave{
    width:220px;
    height:45px;
    padding:0 15px;
    font-size:18px;
    font-weight:bold;
    color:black;
    background:white;
    border:2px solid black;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
}

/* ====================================
   解析・再生ボタン
==================================== */

#startButton,
#playButton{
    width:120px;
    height:45px;
    background:white;
    border:2px solid black;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

#unlockButton{
    width:30px;
    height:45px;
    background:white;
    border:2px solid black;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0;
}


/* ====================================
   結果
==================================== */

#resultArea{
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#resultArea.show{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
}

#resultSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    z-index:6000;
}

#progressBar,
#displacementScale{
    accent-color:#333;
}

/* ====================================
  ロックされた要素
==================================== */

.disabled {
   opacity: 0.3;
   pointer-events: none;
}


/* ====================================
   無効化されたボタン
   ブラウザ標準の薄い表示を統一
==================================== */

button:disabled {
    opacity: 0.3;
    color: #666;
    background: #f0f0f0;
    border-color: #999;
    cursor: not-allowed;
}


/* ====================================
   ページ切替ボタン
==================================== */

#parameterPageButton,
#analysisPageButton,
#resultPageButton {
    width: 100%;
    height: 50px;
    background: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}


/* ページ切替ボタンが無効 */

#parameterPageButton:disabled,
#analysisPageButton:disabled,
#resultPageButton:disabled {
    opacity: 0.3;
    color: #666;
    background: #f0f0f0;
    border-color: #999;
    cursor: not-allowed;
}


/* 選択中のページ */

#parameterPageButton.active,
#analysisPageButton.active,
#resultPageButton.active {
    background: #555;
    color: white;
}


/* ====================================
   解析・再生ボタン
==================================== */

#startButton,
#playButton {
    width: 120px;
    height: 45px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}


/* 解析・再生ボタンが無効 */

#startButton:disabled,
#playButton:disabled {
    opacity: 0.3;
    color: #666;
    background: #f0f0f0;
    border-color: #999;
    cursor: not-allowed;
}


/* ====================================
   鍵マークボタン
==================================== */

#unlockButton {
    width: 30px;
    height: 45px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
}


/* 鍵マークボタンが無効 */

#unlockButton:disabled {
    opacity: 0.3;
    color: #666;
    background: #f0f0f0;
    border-color: #999;
    cursor: not-allowed;
}


/* ====================================
   再生中にロックされる範囲
==================================== */

.playbackLocked {
    opacity: 0.3;
    pointer-events: none;
}


/* 再生ボタンは再生中でも操作可能 */

#playButton {
    opacity: 1;
    pointer-events: auto;
}


/* 再生中のプログレスバー・倍率も操作可能 */

#progressBar,
#displacementScale {
    opacity: 1;
    pointer-events: auto;
}


/* ====================================
   解析後にロックされる入力欄
==================================== */

.analysisLocked {
    opacity: 0.3;
    pointer-events: none;
}


/* ====================================
   プログレスバー・倍率
==================================== */

#progressBar,
#displacementScale {
    accent-color: #333;
}




/* ====================================
   入力エラーダイアログ
==================================== */

#errorModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:9999;
}

.modalContent{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

#errorOkButton{
    width:120px;
    height:45px;
    font-size:18px;
    border:2px solid black;
    border-radius:6px;
    background:white;
    color:black;
    cursor:pointer;
}


/* ====================================
   解析完了
==================================== */

#completeModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
    z-index:10000;
}

.completeBox{
    width:380px;
    padding:40px;
    background:white;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.25);
}

.check{
    width:90px;
    height:90px;
    margin:0 auto 25px;
    border-radius:50%;
    background:#656464;
    color:white;
    font-size:60px;
    line-height:90px;
    font-weight:bold;
}

.completeBox h2{
    margin-bottom:35px;
    color:#333;
    font-size:28px;
}

#completeOkButton{
    width:120px;
    height:45px;
    font-size:18px;
    border:2px solid black;
    border-radius:6px;
    background:white;
    color:black;
    cursor:pointer;
}

#completeOkButton:hover{
    background:#919191;
}


/* ====================================
   解析中
==================================== */

#loadingModal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.65);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.loadingBox{
    width:400px;
    padding:35px;
    background:white;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.spinner{
    width:80px;
    height:80px;
    border:10px solid #666;
    border-top:10px solid #919191;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:auto;
}

.loadingBox p{
    margin-top:25px;
    color:#0b0b0b;
    font-size:28px;
    font-family:Arial, sans-serif;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }
}


/* ====================================
   画面ロック
==================================== */

#screenLock{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:5000;
}


/* ====================================
  ロックされた入力欄
==================================== */

#floor:disabled,
#damping:disabled,
#inputSeismicWave:disabled,
.massInput:disabled,
.stiffnessInput:disabled {

   opacity: 0.3;

   color: #666;

   background-color: #f0f0f0;

   border-color: #999;

   cursor: not-allowed;
}


/* ====================================
   再生中にロックされた入力欄
==================================== */

.playbackLocked select,
.playbackLocked input {

    opacity: 0.3;

    color: #666;

    background-color: #f0f0f0;

    border-color: #999;

    cursor: not-allowed;

}




/* ====================================
   スマホ表示
==================================== */

@media (max-width:768px){

    html,
    body{
        width:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
        box-sizing:border-box;
        font-size: clamp(1px, 4vw, 24px);

    }

    *,
    *::before,
    *::after{
        box-sizing:border-box;
    }


    /* --------------------------------
       ヘッダー
    -------------------------------- */

    #header{
        width:100%;
        height:60px;
        margin:0;
        padding:0 20px;
    }


    /* --------------------------------
       メニュー
    -------------------------------- */

    #menu{
        position:absolute;
        left:0;
        width:100%;
        box-sizing:border-box;
    }


    /* --------------------------------
       メインコンテナ
    -------------------------------- */

    .main-container{
        width:100%;
        max-width:100%;
        padding:0;
        margin:0;
        border:none;
        display:block;
    }


    /* --------------------------------
       メインコンテンツ
    -------------------------------- */

    #content{
        width:100%;
        max-width:100%;
        margin:0;
        padding:10px;
        display:block;
    }


    /* --------------------------------
       キャンバス
    -------------------------------- */

    #canvasArea{
        width:100%;
    }

    canvas{
        display:block;
        width:70%;
        max-width:100%;
        height:auto;
        margin:0 auto;
    }


    /* --------------------------------
       パラメーター
    -------------------------------- */

    #parameterSection{
        width:100%;
        max-width:100%;
    }

    .inputGroup{
        width:100%;
        max-width:100%;
        align-items:center;
    }


    /* --------------------------------
       階数・減衰定数
    -------------------------------- */

    #basicParameter{
        width:100%;
    }

    .paramBox{
        display:grid;
        grid-template-columns:80px 80px;
        column-gap:15px;
        align-items:center;
        justify-content:center;

        width:100%;
        max-width:100%;
    }

    .paramBox label{
        text-align:center;
    }

    /* --------------------------------
   階数・減衰定数
-------------------------------- */

    #floor,
    #damping{
        width:80px !important;
        height:35px !important;

        box-sizing:border-box !important;
        padding:0 !important;

        text-align:center !important;
        text-align-last:center !important;

        font-weight:bold !important;
        font-size: clamp(1px, 3vw, 24px); !important;

        border:2px solid black !important;
        border-radius:8px !important;

        background:white !important;
        color:black !important;

        appearance:none !important;
        -webkit-appearance:none !important;
    }


    /* --------------------------------
       質量・剛性
    -------------------------------- */

    .massInput,
    .stiffnessInput{
        width:80px !important;
        height:35px !important;

        box-sizing:border-box !important;
        padding:0 !important;

        text-align:center !important;
        text-align-last:center !important;

        font-weight:bold !important;
        font-size: clamp(1px, 3vw, 24px); !important;

        border:2px solid black !important;
        border-radius:8px !important;

        background:white !important;
        color:black !important;

        appearance:none !important;
        -webkit-appearance:none !important;
    }


    /* --------------------------------
       階ごとの入力欄
    -------------------------------- */

    #floorParameterSection{
        width:100%;
        max-width:100%;
        overflow-x:auto;
        overflow-y:hidden;
    }

    #floorParameters{
        margin-left:calc(50% - 85px);
    }


    /* --------------------------------
       入力欄・セレクト
    -------------------------------- */

    input,
    select{
        box-sizing:border-box;
        max-width:100%;
    }


    /* --------------------------------
       地震波選択
    -------------------------------- */

    #inputSeismicWave{
        width:40% !important;
        height:45px !important;
        box-sizing:border-box !important;
        padding:0 15px !important;
        font-size: clamp(1px, 3vw, 24px); !important;
        font-weight:bold !important;
        text-align:center !important;
        text-align-last:center !important;

    }


    /* --------------------------------
       ページ切替ボタン
    -------------------------------- */

    .pageButton{
        width:100%;
        max-width:100%;
        justify-content:center;
    }

    #parameterPageButton,
    #analysisPageButton,
    #resultPageButton{
        width:100%;
        height:50px;
        background:white;
        border:2px solid black;
        font-size: clamp(1px, 4vw, 20px); !important;
        font-weight:bold;
        color:black;
        cursor:pointer;
    }

}


