<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地震応答解析</title>

    <link rel="icon" href="/images/1.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="main-container">

    <header id="header">
        <h2>地震応答解析</h2>
        <button id="menuButton">☰</button>


    </header>


    <div id="menu">

        <a href="/manual">使い方</a>
        <a id="help">地震応答解析について知る</a>
        <a id="about">このサイトについて</a>

    </div>
    <div id="helpModal">

        <div class="helpBox">

            <span id="helpClose">×</span>

            <iframe src="/help"></iframe>

        </div>

    </div>
    <div id="aboutModal">

        <div class="aboutBox">

            <span id="aboutClose">×</span>

            <h2>このサイトについて</h2>

            <p>
                このサイトは地震応答解析を行うためのWebアプリです。
            </p>

            <p>
                固有値解析や時刻歴応答解析を用いて、
                建物の応答を確認できます。
            </p>
            <h2>免責事項</h2>
            <p>
                本ウェブサイトの利用に際して発生した一切の損害等について、当方は責任を負いかねますので、あらかじめご了承ください。
            </p>

        </div>

    </div>

    <!-- ==========================
         メインコンテンツ
    ========================== -->
    <main id="content">

        <div id="canvasArea">
            <canvas id="canvas" width="700" height="700"></canvas>
        </div>


        <!-- ページ切替ボタン -->
        <div class="pageButton">

            <button id="page1">
                諸元
            </button>

            <button id="page2">
                地震波
            </button>
            <button id="page3">
                解析
            </button>
        </div>

        <!-- セクション -->
        <div id="bottomArea">

            <div id="pageContainer">


                <!-- 入力画面 -->
                <section id="toc3">

                    <!-- 階数・減衰定数 -->
                    <section id="basicParameter">

                        <div class="paramBox">

                            <label for="floor">
                                階数
                            </label>

                            <input
                                    type="number"
                                    id="floor"
                                    min="1"
                                    step="1"
                                    value="1">

                        </div>


                        <div class="paramBox">

                            <label for="damping">
                                減衰定数
                            </label>

                            <input
                                    type="number"
                                    id="damping"
                                    step="0.01"
                                    min="0"
                                    value="0.02">

                        </div>

                    </section>



                    <!-- 質量・剛性 -->
                    <section id="floorParameterSection">

                        <div id="floorParameters"></div>

                    </section>

                </section>



                <!-- ②画面 -->
                <section id="sec2">

                    <h2>② 地震波を選択</h2>
                    <label
                            id="earthquakeLabel"
                            for="inputSeismicWave">
                    </label>

                    <select id="inputSeismicWave">
                        <option>El Centro</option>
                        <option>Taft</option>
                        <option>Hachinohe</option>
                    </select>


                </section>
                <!-- ③画面 -->
                <section id="sec3">

                    <!-- ③ 解析実行 -->
                    <section id="analysisSection">

                        <h2>③ 解析を実行する</h2>

                        <button id="start">
                            ▷
                        </button>

                    </section>


                    <!-- ④ 結果表示 -->
                    <section id="resultSection">

                        <h2>④ 解析結果を見る</h2>

                        <button id="look">
                            ▷
                        </button>


                        <input
                                type="range"
                                id="progress"
                                min="0"
                                max="100"
                                value="0">

                        <div id="timeText">
                            0.00 / 0.00 秒
                        </div>




                    </section>

                </section>

            </div>

        </div>



        <!-- 完了画面 -->
        <div id="complete">

            <div class="completeBox">

                <div class="check">
                    ✓
                </div>

                <h2>
                    解析が完了しました
                </h2>

                <button id="okButton">
                    OK
                </button>

            </div>

        </div>

        <!-- ローディング -->
        <div id="loading">
            <div class="loader"></div>
            <p>
                解析中...
            </p>
        </div>



        <!-- エラー -->
        <div id="errorModal">

            <div class="modalContent">

                <h2>
                    入力エラー
                </h2>

                <p id="errorText"></p>

                <button id="errorOk">
                    OK
                </button>

            </div>

        </div>


    </main>


    <div id="loading2">
        <div class="loadingBox">

            <div class="spinner"></div>

            <p>解析中...</p>

        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/script0.js"></script>
    <div id="screenLock"></div>
</div>
</body>
</html>