<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地震応答解析</title>
    <link rel="icon" href="/images/1.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="main-container">

    <header id="header">
        <h2>地震応答解析</h2>
        <button id="menuButton">☰</button>
    </header>

    <div id="menu">
        <a id="manual">使い方</a>
        <a id="help">地震応答解析について知る</a>
        <a id="about">このサイトについて</a>
    </div>

    <div id="manualModal">
        <div class="manualBox">
            <span id="manualClose">×</span>
            <h2>使い方</h2>
            <hr>
            <p>
                このサイトでは、建物を質点系モデルとして設定し、地震応答解析を行うことで、地震時の建物挙動を見ることができます。<br>
            </p>
            <p>
                「ﾊﾟﾗﾒｰﾀｰ」で建物の階数、質量、剛性、減衰比を設定し、
                「解析」で入力地震波を選択して解析を実行すると、「結果」で地震波に対する質点系の挙動を確認できます。
            </p>
            <p>
                解析実行後、入力を修正する場合は「解析」にある「鍵マーク」のボタンを押して再度、解析を行ってください。
            </p>
        </div>
    </div>


    <div id="helpModal">
        <div class="helpBox">
            <span id="helpClose">×</span>
            <iframe src="/help"></iframe>
        </div>
    </div>

    <div id="aboutModal">
        <div class="aboutBox">
            <span id="aboutClose">×</span>
            <h2>このサイトについて</h2>
            <hr>
            <h3>ソースコード</h3>
            <a href="https://github.com/yadigo2022-web/demo">https://github.com/yadigo2022-web/demo</a>
            <div style="height:20px;"></div>
            <h3>免責事項</h3>
            <p>
                本ウェブサイトの利用に際して発生した一切の損害等について、当方は責任を負いかねますので、あらかじめご了承ください。
            </p>
        </div>
    </div>

    <!-- ==========================
         メインコンテンツ
    ========================== -->
    <main id="content">

        <div id="canvasArea">
            <canvas id="canvas" width="700" height="700"></canvas>
        </div>

        <!-- 切替ボタン -->
        <div class="pageButton">
            <button id="page1">
                ﾊﾟﾗﾒｰﾀｰ
            </button>
            <button id="page2">
                解析
            </button>
            <button id="page3" disabled>
                結果
            </button>
        </div>

        <!-- セクション -->
        <div id="bottomArea">
            <div id="pageContainer">
                <!-- 入力画面 -->
                <section id="toc3">
                    <h2>① パラメーターを入力</h2>

                    <!-- 階数・減衰定数 -->
                    <section id="basicParameter">
                        <div class="paramBox">

                            <label for="floor">
                                階数
                            </label>

                            <div class="inputTooltip">

                                <input
                                        type="number"
                                        id="floor"
                                        min="1"
                                        step="1"
                                        value="1">

                                <span class="tooltipText">
                                    入力が終わったら、入力欄の外を押してください
                                </span>

                            </div>

                        </div>


                        <div class="paramBox">

                            <label for="damping">
                                減衰定数
                            </label>

                            <div class="inputTooltip">

                                <input
                                        type="number"
                                        id="damping"
                                        step="0.01"
                                        min="0"
                                        value="0.02">



                            </div>

                        </div>



                    </section>
                    <div style="height:20px;"></div>

                    <!-- 質量・剛性 -->
                    <section id="floorParameterSection">
                        <div id="floorParameters"></div>
                    </section>
                    <div style="height:20px;"></div>
                </section>

                <!-- 解析 -->
                <section id="sec2">
                    <h2>② 地震波を選択</h2>
                    <label
                            id="earthquakeLabel"
                            for="inputSeismicWave">
                    </label>

                    <select id="inputSeismicWave">
                        <option>El Centro</option>
                        <option>Taft</option>
                        <option>Hachinohe</option>
                    </select>
                    <h2>③ 解析を実行する</h2>
                    <div style="display:flex; gap:10px;">


                        <button id="start">
                            ▶
                        </button>
                        <button id="unlock" disabled>
                            🔓︎
                        </button>
                    </div>


                </section>
                <!-- 結果 -->
                <section id="sec3">

                    <!-- ③ 解析実行 -->
                    <section id="analysisSection">
                    </section>

                    <section id="resultSection">

                        <h2>④ 解析結果を見る</h2>

                        <button id="look">
                            ▶
                        </button>
                        <input
                                type="range"
                                id="progress"
                                min="0"
                                max="100"
                                value="0">

                        <div id="timeText">
                            0.00 / 0.00 秒
                        </div>
                        <div style="height:20px;"></div>
                        <input
                                type="range"
                                id="dipscale"
                                min="1"
                                max="10"
                                value="1">
                        <div id="dipscaleText">
                            倍率：1倍
                        </div>
                    </section>
                </section>
            </div>

        </div>

        <!-- 完了画面 -->
        <div id="complete">
            <div class="completeBox">
                <div class="check">
                    ✓
                </div>
                <h2>
                    解析が完了しました
                </h2>
                <p style="text-align:left;">
                    入力を修正する場合は「鍵マーク」のボタンを押して再度、解析を行ってください。
                </p>
                <button id="okButton">
                    OK
                </button>
            </div>
        </div>

        <!-- 解析中の画面 -->
        <div id="loading">
            <div class="loader"></div>
            <p>
                解析中...
            </p>
        </div>

        <!-- エラー画面 -->
        <div id="errorModal">
            <div class="modalContent">
                <h2>
                    入力エラー
                </h2>
                <p id="errorText"></p>
                <button id="errorOk">
                    OK
                </button>
            </div>
        </div>

    </main>

    <div id="loading2">
        <div class="loadingBox">
            <div class="spinner"></div>
            <p>解析中...</p>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/script0.js"></script>
    <div id="screenLock"></div>
</div>
</body>
</html>