<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メニュー</title>
    <link rel="stylesheet" href="/css/style0.css">
</head>

<body>
<!-- Loading画面 -->
<div id="loading">
    <div class="spinner"></div>
    <p>Loading...</p>
</div>

<!-- 本画面 -->

<button id="menuButton">☰</button>

<nav id="menu">
    <a href="/menu">トップ</a>
    <a href="/help">使い方</a>
    <a href="/index">シミュレーション</a>
    <a href="/contact">お問い合わせ</a>
</nav>



    <!-- <img src="/images/1773.png" id="backgroundImage" alt="背景イメージ"> -->



<div id="content">



</div>



    <button id="manual"
            onclick="location.href='/help'">
        地震応答解析について知る
    </button>






    <button id="analysis"
            onclick="location.href='/index'">
        質点系シミュレーションを開く
    </button>





<script src="/js/script0.js"></script>

</body>
</html>